<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD-Hpxx8v_ZyOwrRk0lOi69qKD-kUMDSI</string>
	<key>GCM_SENDER_ID</key>
	<string>302482831291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>social-media-app-af85c</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-app-af85c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302482831291:ios:0a62116e99a9634800b69e</string>
</dict>
</plist>